body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-fill .nav-item, .nav-fill>.nav-link {
  flex: none !important;
  text-align: center;
}

.addButton{
  background-color: transparent;
}

.backbtn{
  background-color: transparent;
  border: none;
}

.bookdiv{
  display: flex;
  justify-content: space-between;
}